p{
	color:#000000;
	background-color:#FFFFFF;
}
body{
	background-image: url("https://images-na.ssl-images-amazon.com/images/I/91+vC-NeQrL._RI_SX200_.jpg");
	background-repeat: no-repeat;
	background-size: 1000px 1500px
}
